body {
    color: white;
    background-color: #171616;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #171616;
    text-align: center;
    font-size: 3vmin;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    div {
        border-left: #57b03e 2px solid;
    }
}

.types  {
    justify-items: center;
    max-width: 25vw;
    max-height: 87vh;
    margin: 0 auto;
    justify-content: center;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(1, 25vw);
}

.musics  {
    max-width: 25vw;
    max-height: 87vh;
    margin: 0 auto;
    justify-content: center;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(1, 25vw);
}

.playlist  {
    max-width: 25vw;
    max-height: 87vh;
    margin: 0 auto;
    justify-content: center;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(1, 25vw);
}

img {
    max-width: 15vw;
    max-height: 25vh;
    min-width: 10vw;
    min-height: 20vh;
}

img:hover {
    transform: scale(1.1);
}
